@page {
  size: A4 landscape;
  margin: 0 0 0 0;
}

$a4-width-print: 29.7cm;
$a4-height-print: 209.6mm;

$text-font-size-print: 8px;
$text-font-size_view: 16px;
$code-font-size: 0.85em;


@media print {
  .noDisplay {
    display: none!important;
  }

  .container {
    border:0!important;
    max-width: $a4-width-print!important;
    height: $a4-height-print!important;
    column-count: 4!important;
    column-fill: auto!important;
    column-gap: 0.1em!important;
  }

  body {
    font-size: $text-font-size-print!important;
  }
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;

  &[layout="view"] {
    font-size: $text-font-size-view;

    .container {
      overflow: hidden;
      max-width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }


  &[layout="print"] {
    font-size: $text-font-size-print;

    .container {
      border: 0.1px solid black;
      max-width: $a4-width-print;
      height: $a4-height-print;
      column-count: 4;
      column-fill: auto;
      column-gap: 0.1em;
    }
  }

  .noDisplay{
    font-size: 16px;
    p{
      vertical-align: middle;
      line-height: 34px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}


@mixin noLineBreak {
  + h2::before {
    content: '';
    white-space: normal;
  }
}

.page {
  * {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  > h1 {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    background-color: darksalmon;
    width: 100%;
  }

  > h2 {
    font-size: 0.9em;
    font-weight: bolder;
    justify-self: center;
    color: black;
    background-color: rosybrown;
    width: 100%;
    display: inline;
  }

  h2::before {
    content: '\A';
    white-space: pre;
  }

  > h1 {
    @include noLineBreak;
  }

  > ul {
    @include noLineBreak;
  }

  > pre {
    @include noLineBreak;
  }

  > img {
    width: 100%;
  }
}

code {
  white-space: pre-wrap !important;
  overflow: hidden;
}

.code {
  padding: 0 !important;
  margin: 0 !important;
  font-size: $code-font-size !important;
  overflow: hidden !important;
}

code[class*="language-"] {
  text-shadow: 0 0 transparent !important;
}

.header {
  align-self: flex-start;
  justify-self: flex-start;
}

.footer {
  align-self: flex-end;
  justify-self: flex-end;
}

.subtitle {
  font-weight: bold;
  background-color: yellow;
}

ul {
  padding-left: 1.5em;
}
