@page {
  size: A4 landscape;
  margin: 0 0 0 0;
}

$a4-width: 29.7cm;
$a4-height: 209.6mm;
body {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 9px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  overflow: hidden;
  column-count: 4;
  column-fill: auto;
  column-gap: 0.1em;
  max-width: $a4-width;
  height: $a4-height;
  box-sizing: border-box;

  //TODO Remove me before printing!
  border: 0.1px solid black;
}

@media print {
  .container {
    border: 0;
  }
}

@mixin noLineBreak {
  + h2::before {
    content: '';
    white-space: normal;
  }
}

.page {
  * {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  > h1 {
    font-size: 10px;
    font-weight: bold;
    color: black;
    background-color: darksalmon;
    width: 100%;
  }

  > h2 {
    font-size: 9px;
    font-weight: bolder;
    justify-self: center;
    color: black;
    background-color: rosybrown;
    width: 100%;
    display: inline;
  }

  h2::before {
    content: '\A';
    white-space: pre;
  }

  > h1 {
    @include noLineBreak;
  }
  > ul {
    @include noLineBreak;
  }
  > pre {
    @include noLineBreak;
  }
}

code {
  white-space: pre-wrap !important;
  overflow: hidden;
}

.code {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0.85em !important;
  overflow: hidden !important;
}

.header {
  align-self: flex-start;
  justify-self: flex-start;
}

.footer {
  align-self: flex-end;
  justify-self: flex-end;
}

.subtitle {
  font-weight: bold;
  background-color: yellow;
}

ul {
  padding-left: 1.5em;
}
