@page {
  size: A4 landscape;
  margin: 0 0 0 0;
}

$a4-width-print: 29.7cm;
$a4-height-print: 209.6mm;

$text-font-size-print: 8px;
$text-font-size_view: 16px;
$code-font-size: 0.85em;

@media print {
  .noDisplay {
    display: none !important;
  }

  .page {
    border: 0 !important;
    max-width: $a4-width-print !important;
    height: $a4-height-print !important;
    column-count: 4 !important;
    column-fill: auto !important;
    column-gap: 0.1em !important;
  }

  body {
    font-size: $text-font-size-print !important;
  }
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;

  &[data-layout='view'] {
    font-size: $text-font-size-view;
    overflow: hidden;
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;

      .headerMenuWrapper {
        height: 4em;

        .headerMenuContent {
          margin-left: 1em;
        }
      }

      .view {
        height: 88vh;
        display: flex;
        flex-direction: row;

        .navMenuWrapper {
          width: 20vh;
          overflow: auto;

          ul {
            padding: 0;
            margin-top: 0;
            margin-left: 1em;
            list-style-type: none;
            background-color: #f1f1f1;

            li {
              a {
                text-align: left;
                display: block;
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
              }

              a:hover {
                background-color: #555;
                color: white;
              }
            }
          }
        }

        .pageWrapper {
          display: flex;
          flex-direction: column;
          width: 70%;
          margin-left: 5%;
          margin-right: 5%;
          overflow: auto;

          > .page:not(:first-child) {
            border-top: solid rgba(0, 0, 0, 0.1) 3em;
          }

          .page {
            height: fit-content;
            max-width: 100%;
            width: auto;
            box-sizing: border-box;
          }
        }
      }

      .footerWrapper {
        .footerContent {
          margin-left: 1em;
        }
      }
    }
  }

  &[data-layout='print'] {
    font-size: $text-font-size-print;

    .page {
      border: 0.1px solid black;
      max-width: $a4-width-print;
      height: $a4-height-print;
      column-count: 4;
      column-fill: auto;
      column-gap: 0.1em;
    }

    .navMenuWrapper {
      display: none;
    }
  }

  .noDisplay {
    font-size: 16px;
    p {
      vertical-align: middle;
      line-height: 2em;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 4em;
      height: 2em;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 1.5em;
      width: 1.5em;
      left: 0.25em;
      bottom: 0.25em;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 2em;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.color-selection {
  height: 15px;
  align-content: center;
  font-weight: bold;
  margin-top: 5px;
  cursor: not-allowed;
  font-size: 11px;
  text-align: center;
}

.selectColor {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  vertical-align: bottom;
}

%settingsButton {
  background: white;
  border: 1px solid ;
  height: 35px;
  cursor: pointer;
  font-size: 11px;
  color: #056169;
  width: 100%;
  align-self: center;
  font-weight: bold;
}

.addColor {
  @extend %settingsButton;
}

.colorSelectionText {
  margin-left: 10px;
  font-size: 14px;
  color: #444242;
}

.applySettings{
  @extend %settingsButton;
  margin-top: 2px;
}

.settings {
  border-left: 1px solid darkgray;
  margin: 25px;

  >div {
    width: 90%;
    margin-left: 5%;
  }

  #applyStyleSettings {
    background: forestgreen;
    border: none;
    color: white;
  }

  #resetStyleSettings {
    background: firebrick;
    border: none;
    color: white;
  }
}

@mixin noLineBreak {
  + h2::before {
    content: '';
    white-space: normal;
  }
}

span {
  &.para-title {
    font-size: 0.9em;
    font-weight: bolder;
    justify-self: center;
    color: black;
    background-color: rosybrown;
    width: 100%;
    display: inline;
  }
}

.page {
  * {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  > h1 {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    background-color: darksalmon;
    width: 100%;
  }

  > h2 {
    font-size: 0.9em;
    font-weight: bolder;
    justify-self: center;
    color: black;
    background-color: rosybrown;
    width: 100%;
    display: inline;
  }

  h2::before {
    content: '\A';
    //white-space: pre;
  }

  > h1 {
    @include noLineBreak;
  }

  > ul {
    @include noLineBreak;
  }

  > pre {
    @include noLineBreak;
  }

  ul {
    padding-left: 1.5em;
  }

  img {
    width: 100%;
  }

}

code {
  white-space: pre-wrap !important;
  overflow: hidden;
}

.code {
  padding: 0 !important;
  margin: 0 !important;
  font-size: $code-font-size !important;
  overflow: hidden !important;
}

code[class*='language-'] {
  text-shadow: 0 0 transparent !important;
}

.header {
  align-self: flex-start;
  justify-self: flex-start;
}

.footer {
  align-self: flex-end;
  justify-self: flex-end;
}

.subtitle {
  font-weight: bold;
  background-color: yellow;
}

