include ../mixins.pug
h1 Node Beispiel
+para('Application - app.js: ')
    pre.code.line-numbers
        code.language-javascript
            |const express = require('express'); const path = require('path');
            |const session = require('express-session'); const app = express();
            |// view engine setup
            |app.set('views', path.join(__dirname, 'views'));
            |app.set('view engine', 'hbs');
            |app.use(express.urlencoded({ extended: false }));
            |app.use(session({secret: 'abcdefg',
            |resave: false, saveUninitialized: true}));
            |app.use(express.static(path.join(__dirname, 'public')));
            |app.use('/', require('./routes/index'));
            |module.exports = app;

+para('Routes - routes/index.js: ')
    pre.code.line-numbers
        code.language-javascript
            |const express = require('express');
            |const router = express.Router();
            |const controller = require('../controllers/shopController')
            |router.get('/', controller.index);
            |router.post('/add', controller.add);
            |router.post('/remove', controller.remove);
            |router.post('/bestellung', controller.bestellung);
            |module.exports = router;

+para('Services - services/shopService.js: ')
    pre.code.line-numbers
        code.language-javascript
            |const Datastore = require('nedb');
            |const db = new Datastore({filename: './shop.db', autoload: true});
            |class Item {
            |   constructor(name, preis) {this.name = name; this.preis = preis;}}
            |   function all(callback) {db.find({}, callback);}
            |   function get(id, callback) {db.find({_id: id}, callback);}
            |module.exports = {all, get};

+para('Controllers - controllers/shopController.js: ')
    pre.code.line-numbers
        code.language-javascript
            include ./shopController.js