include ../mixins.pug
h1 User Centered Design
+para('Zsm: ')
    | Den user befragen ist 
    b nicht 
    | User Centerd Design, sondern beobachen was sie machen.

+para('Stolze: ')
    | You may ask you customers, but not your users. Man sollte sich bewusst sein, wer der User ist.

+para('Features of Good User Research: ')
    | Representative Benutzer ausw&auml;hlen, Sinvolle und realistische Tests machen,
    | momentante tools und strategies verwenden, in einem sinvollen und representativen context

+para('Information Scent: ')
    | Links etc. sind so bennant, dass klar ist welche Ziele durch die Navigation erreich (und nicht erreicht)
    | werden.

+para('Site Map: ')
    | Baumstruktur der Navigation

+para('Raster Design: ')
    | Gute "Ausschilderung" User sollten stets wissen:
    ul
        li Wo bin ich im Moment: Eindeutiger Seitentitel, konsistenter Header, Icons, Seitendesign, Was kann ich machen
        li Wo kann ich hin: Deutlich sichtbare Navigationselemente
        li Was ist passiert: Navigation z.B. animiert, Browser back unterstützen

+para('Usability: ')
    ul
        li Effektivit&auml;t: Benutzer k&ouml;nne Ziele erreichen
        li Effizienz: Benutzer k&ouml;nnen ihre Ziele mit angemessenem Aufwand erreichen
        li Zufriedenheit: Benutzer sind positiv gegen&uuml;ber dem System eingestellt

+para('Card Sorting: ')
    b Schritt 1: 
    | Content Repository Erstellen (Was sind Zielpunkte der Navigation)
    b Schritt 2: 
    ul
        li "Open Card Sort" 5+ Personen aus der Zielgruppe rekrutieren
        li Content Elemente in disjunkte (Elemente haben nichts gemeinsam) Gruppen ordnen lassen
        li Gruppen benennen lassen
    b Schritt 3: 
    | Gute Gruppennamen identifizieren (Hypothese)
    b Schritt 4: 
    | Gruppennamen mittels "Closed Card Sort" Validieren
    ul
        li 5+ Neue Personen aus der Zielgruppe rekrutieren
        li Gruppenname vorgeben
        li Content Elemente den Gruppen zuordnen lassen

+para('Tree Testing: ')
    | Aufgabe geben, Geh auf die Seite X. User klickt sich durch und es kann beobachtet werden wie er sich
    | verhaltet.

+para('Usability Test: ')
    | Test der die einzelnen Teile der Usability tested,
    | Task beinhaltet den context des Users, das Bedürfnis, das Ziel und den Auslöser

+para('Problem Space: ')
    | Analyse Users & Describe (Model), Needs/Problems 
    b z.B. 
    | Bestellung

+para('Solution Space: ')
    | Vision / Storyboard / Prototype 
    b z.B. 
    | Form, Wireframe, UI-Controls